<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Alpha - Creative Template</title>

		<!-- FONT -->
		<link
		href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700" rel="stylesheet">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
	</head>
	<body>
		<main>
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">Alpha</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav">
							<a class="nav-link active" aria-current="page" href="#">Home</a>
							<a class="nav-link" href="sobre/">About</a>
						</div>
					</div>
				</div>
			</nav>

			<section id="banner" class="container-fluid" style="background-image: url('{{ asset('assets/images/section-banner-01.jpg') }}');">
				<div class="row">
					<div class="content-banner col-12 d-flex flex-column align-items-center justify-content-center">
						<h1>aiiiifood</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>
			</section>

			<section id="product" class="container-fluid">
				<div class="row">
					<div class="content-product-title col-sm-12 col-md-12 col-lg-12">
						<h1>Products</h1>
					</div>
					<div class="content-product-itens col-sm-12 col-md-12 col-lg-12">
						<div class="row">
							<div class="col-sm-12 col-md-4 col-lg-4">
								<div class="card card-product">
									<div class="card-body">
										<img src="{{ asset('assets/images/product-01.jpg') }}" class="card-img-top" alt="...">
										<h5 class="card-title">Lorem ipsum</h5>
										<p>
											dolor sit amet, consectetur adipiscing elit. Proin sit amet pulvinar mauris.
											Vestibulum sodales ipsum odio, ac pellentesque justo lobortis ac.
											Duis tempor mi a massa sollicitudin
										</p>

									</div>
								</div>
							</div>

							<div class="col-sm-12 col-md-4 col-lg-4">
								<div class="card card-product">
									<div class="card-body">
										<img src="{{ asset('assets/images/product-02.jpg') }}" class="card-img-top" alt="...">
										<h5 class="card-title">Lorem ipsum</h5>
										<p>
											dolor sit amet, consectetur adipiscing elit. Proin sit amet pulvinar mauris.
											Vestibulum sodales ipsum odio, ac pellentesque justo lobortis ac.
											Duis tempor mi a massa sollicitudin
										</p>

									</div>
								</div>
							</div>

							<div class="col-sm-12 col-md-4 col-lg-4">
								<div class="card card-product">
									<div class="card-body">
										<img src="{{ asset('assets/images/product-03.jpg') }}" class="card-img-top" alt="...">
										<h5 class="card-title">Lorem ipsum</h5>
										<p>
											dolor sit amet, consectetur adipiscing elit. Proin sit amet pulvinar mauris.
											Vestibulum sodales ipsum odio, ac pellentesque justo lobortis ac.
											Duis tempor mi a massa sollicitudin
										</p>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
